.Footer {
    .MainFooter {
        background-color: #131313;
        height: 150px;
        opacity: 0.2;
        margin-bottom: -18px;
    }

    
    .CopyrightBar {
        background-color: #272B27;
        width: 100%;
        color: #fff;
        height: 30px;
        margin-bottom: -10px;
    }
}